{% extends "base.html" %}

{% block head %}
    <script>
        $(document).ready(function () {
            var index = 0;
            var puzzle_ids = [
                {% for puzzle in puzzles %}
                    '{{ puzzle.id }}',
                {% endfor %}
            ];
            var puzzle_links = [
                {% for puzzle in puzzles %}
                    '{{ puzzle.iframe_link }}',
                {% endfor %}
            ];
            var puzzle_severities = [
                {% for puzzle in puzzles %}
                    {{ puzzle.severity }},
                {% endfor %}
            ];
            var puzzle_ratings = [
                {% for puzzle in puzzles %}
                    {{ puzzle.get_rating }},
                {% endfor %}
            ];

            var document_width = $(document).width();
            var iframe_width = '575px';
            if (document_width > 300 && document_width < 600) {
                var padding = (document_width - 302) / 2;
                $('#container').css('padding-left', padding).css('padding-right', padding);
                iframe_width = '100%';
            }

            var set_puzzle = function () {
                $('#puzzle').html(
                    '<div class="rating-div">' +
                    '<h3>' + puzzle_ratings[index] + '<i class="fa fa-star" aria-hidden="true"></i>' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<i class="fa fa-star-o rating-star" aria-hidden="true" data-value="1" id="star1"></i>&nbsp;&nbsp;' +
                    '<i class="fa fa-star-o rating-star" aria-hidden="true" data-value="2" id="star2"></i>&nbsp;&nbsp;' +
                    '<i class="fa fa-star-o rating-star" aria-hidden="true" data-value="3" id="star3"></i>&nbsp;&nbsp;' +
                    '<i class="fa fa-star-o rating-star" aria-hidden="true" data-value="4" id="star4"></i>&nbsp;&nbsp;' +
                    '<i class="fa fa-star-o rating-star" aria-hidden="true" data-value="5" id="star5"></i>&nbsp;&nbsp;' +
                    '</h3>' +
                    '</div>' +
                    '<iframe src="' + puzzle_links[index] + '" ' +
                    'width="' + iframe_width + '" ' +
                    'height="465px" ' +
                    'frameborder="0">' +
                    '</iframe>');

                $('.rating-star').on('click', function(e) {
                    var rating = parseInt($(this).data('value'), 10);
                    var puzzle_id = puzzle_ids[index];
                    $.get('/rate/' + puzzle_id + '/?rating=' + rating).success(function (e) {
                        for (var i = 1; i <= 5; i++) {
                            if (i <= rating)
                                $('#star' + i).removeClass('fa-star-o').addClass('fa-star');
                            else
                                $('#star' + i).removeClass('fa-star').addClass('fa-star-o');
                        }
                    });
                });
            };
            var next_puzzle = function () {
                var selected = $('#severity-selectors').find('input:checked');
                var severity_mask = 0;
                for (var i = 0; i < selected.length; i++) {
                    severity_mask |= parseInt($(selected[i]).val(), 10);
                }
                if (severity_mask == 0) {
                    alert('You must select at least one puzzle level!');
                    return;
                }
                for (var i = 1; i < puzzle_links.length; i++) {
                    if (puzzle_severities[(index + i) % puzzle_links.length] & severity_mask) {
                        index = (index + i) % puzzle_links.length;
                        console.log(index);
                        set_puzzle();
                        return;
                    }
                }
            };

            $('#refresh-button').on('click', set_puzzle);
            $('#next-button').on('click', next_puzzle);
            next_puzzle();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container" id="container" style="text-align: center">
        <div style="display: inline-block">
            <div id="severity-selectors">
                <label class="checkbox-inline"><input type="checkbox" value="1" id="inaccuray">
                    Inaccuracies ({{ inaccuracy_count }})
                </label>
                <label class="checkbox-inline"><input type="checkbox" value="2" id="mistake" checked>
                    Mistakes ({{ mistake_count }})
                </label>
                <label class="checkbox-inline"><input type="checkbox" value="4" id="blunder" checked>
                    Blunders ({{ blunder_count }})
                </label>
            </div>
            <h1>
                Puzzles
                <button class="btn btn-default" style="margin-bottom: 4px;" id="refresh-button">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary" style="margin-bottom: 4px;" id="next-button">
                    Next <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </h1>

        </div>
        <div id="puzzle">

        </div>
    </div>
{% endblock %}
